
/*********************advan****************/
.advan_1l img{
border-radius:50% 50% 0 0; 
 }
 
/*********************advan_end****************/

/*********************publish****************/
.publish_1m{
padding-top:70px;
padding-bottom:60px;
border-radius:20px; 
 }
.publish_1 {
background-image: url(../img/stats.png);
background-position: center;
border-radius:20px;
}
/*********************publish_end****************/


@media screen and (max-width : 767px){
.center_h1l{
margin-top:0!important;
 }
.center_h1lil{
margin-top:10px;
}
.center_h1r{
margin-top:15px; 
 }
.center_h1ril{
margin-top:15px;  
 }
.categ_1i {
margin-top:8px;
margin-bottom:8px;
text-align:center; 
 }
.advan_1l img{
height:auto; 
 }
.advan_1r{
margin-top:15px;
text-align:center; 
 }
.advan_1r p{
text-align:left; 
 }
.advan_1rir{
margin-top:10px; 
 }
.advan_2l{
text-align:center; 
 }
.advan_2l p{
text-align:justify; 
 }
.center_h1lil{
text-align:left;  
 }
.advan_2r{
margin-top:15px;
 }
.publish_1m {
padding-top: 30px;
padding-bottom:20px;
}
.publish_1i1 {
margin-top:8px;
margin-bottom:8px; 
 }
.publish_1ib  p{
text-align:left;  
 }
 }

@media (min-width:576px) and (max-width:767px) {

 }
@media (min-width:768px) and (max-width:991px) {
.center_h1l{
margin-top:0!important;
 }
.center_h1li {
padding:10px!important; 
 }
.center_h1li3 .button{
padding:15px 10px!important; 
 }
.categ_1i  h5{
font-size:14px; 
 }
.advan_1ril .font_70{ 
font-size:40px!important;  
 }
.advan_2l p{
font-size:14px;  
 }
.advan_2l h6{
font-size:12px;  
 }
.center_h1li {
margin-top:10px!important; 
 }
.advan_2r img{
min-height:400px; 
 }
 }

@media (min-width:992px) and (max-width:1200px) {

 }
@media (min-width:1201px) and (max-width:1300px) {

 }



