@media screen and (max-width: 1199px){
   .our-services .d-box h4 {
	width: 150px;
}
.about-us {
	padding: 100px 0px 100px;
}
.we-sec .vbyk {
	margin-bottom: 0;
}
.inner-banner {
	height: 410px;
}
}
@media screen and (max-width: 1023px){
    .about-us .right h3 {
	font-size: 50px;
}
.about-us {
	padding: 100px 0px 100px;
}
.we-sec .head h3 {
	font-size: 50px;
}
.our-port .main-box .count {
	font-size: 36px;
}
.our-port .main-box h5 {
	font-size: 30px;
}
.our-services .heading h3 {
	font-size: 50px;
}
.our-services .d-box h4 {
	width: 150px;
}
.rech .head h3 {
	font-size: 50px;
}
.our-client .head h3 {
	font-size: 50px;
}

.contac-sec .head h3 {
	font-size: 50px;
}
.contac-sec .head h5 {
	font-size: 40px;
}
.customersec .head h3 {
	font-size: 50px;
}
.customersec .head h3 {
	font-size: 50px;
}
.customersec p {
	font-size: 16px;
}
.video-banner video {
	height: 70vh;
}
}
@media screen and (max-width: 991px){
	
    .our-port::before {
    width: 100%;
}
   .top-part .t-con li {
	margin-right: 18px;
}
.about-us .left .bttm-text {
	right: 0;
}
.about-us .a-logo {
	margin-top: 20px;
}
.about-us {
	padding-bottom: 20px;
}
.we-sec .left-pic {
	justify-content: center;
}
.banner-sec .heading h1 {
	font-size: 50px;
}
.about-us .right p {
	font-size: 15px;
}
.about-us .top-pic img {
	height: 540px;
}
.about-us .t-logo img {
	width: 190px;
}
.about-us .bttm-text {
	bottom: -43px;
}
.about-us .right h3 {
	font-size: 40px;
}
.about-us {
	padding-bottom: 80px;
}
.we-sec .head h3 {
	font-size: 40px;
}
.we-sec .text p {
	font-size: 15px;
}
.our-port .main-box .count {
	font-size: 36px;
}
.our-port .main-box h5 {
	font-size: 30px;
}
.our-services .heading h3 {
	font-size: 40px;
}
.rech .head h3 {
	font-size: 40px;
}
.our-client .head h3 {
	font-size: 40px;
}
.contac-sec .head h3 {
	font-size: 40px;
}
.contac-sec .head h5 {
	font-size: 38px;
}
.customersec .head h3 {
	font-size: 40px;
}
.customersec .right-img {
	height: 170px;
	width: 170px;
}
.banner-sec .banner-pic {
	height: 650px;
}
.our-services .d-box h4 {
	width: 240px;
}
.our-services .our-box {
	height: 620px;
}
.video-banner video {
	height: 100%;
}
.top-part .t-con {
	justify-content: center;
}
.we-sec .head {
	margin-top: 35px;
}
.our-service {
	padding: 40px 0px;
}
#services .our-service h2 {
	font-size: 29px;
	margin-bottom: 20px;
}
#services .botm-box {
	height: 290px;
}
.inner-banner {
	height: 320px;
}
}
@media screen and (max-width: 767px){
   .top-part .t-con li {
	margin-right: 10px;
}
.top-part .t-con span {
	margin-left: 5px;
	font-size: 12px;
}
.footer .f-head {
	padding-bottom: 10px;
	margin-top: 30px;
}

.we-sec .left-pic {
	justify-content: center;
}
.about-us .right h3 {
	margin-top: 40px;
}
.about-us {
	padding-bottom: 75px;
}
.rech .r-box {
	position: relative;
	width: 180px;
	height: 200px;
	transform-style: preserve-3d;
	animation: animate 30s linear infinite;
}
.footer .col-lg-4:nth-child(2) .f-head {
	margin-top: 0px;
}
.banner-sec .banner-pic {
	height: 630px;
}
.banner-sec .heading h1 {
	font-size: 51px;
}
.about-us .right h3 {
	font-size: 48px;
}
.we-sec .head h3 {
	font-size: 48px;
}
.our-port .main-box h5 {
	font-size: 20px;
}
.our-port .main-box .count {
	font-size: 36px;
}
.our-services .heading h3 {
	font-size: 33px;
}
.we-sec .klp {
	font-size: 33px;
}
.our-client .head h3 {
	font-size: 33px;
}
.our-client .head h3 {
	font-size: 33px;
}
.contac-sec .head h3 {
	font-size: 33px;
}
.contac-sec .head h5 {
	font-size: 42px;
}
.customersec .head h3 {
	font-size: 33px;
}
.customersec .right-img {
	height: 150px;
	width: 150px;
}
.customersec p {
	font-size: 16px;
}
.about-us .right p {
	font-size: 15px;
}
.we-sec .text p {
    font-size: 15px;
  }
.we-sec .mkio strong {
	font-size: 22px;
}
.we-sec .head h3 {
	font-size: 33px;
}
.we-sec .head {
	margin-top: 30px;
}
.our-services .sr-head strong {
	font-size: 26px;
}
.inner-banner {
	height: 250px;
}
}

@media screen and (max-width: 640px){
    .top-part {
	background-color: transparent;
	padding: 0px;
    display: none;
}
.banner-sec .banner-pic {
	height: 570px;
}
.banner-sec .heading h1 {
	font-size: 50px;
}
.about-us .left .bttm-text {
	right: 0px;
}
.about-us {
	padding: 80px 0px;
}
.about-us .right h3 {
	font-size: 40px;
	margin-top: 30px;
}
.about-us .a-logo {
	margin-top: 40px;
}

.we-sec .left-pic {
	justify-content: center;
}
.we-sec .head h3 {
	font-size: 32px;
}
.we-sec .klp {
	font-size: 32px;
}
.our-services .heading h3 {
	font-size: 32px;
}
.rech .head h3 {
	font-size: 40px;
}
.our-port .main-box {
	border: none;
} 
.our-client .head h3 {
	font-size: 32px;
}
.contac-sec .head h3 {
	font-size: 32px;
}
.contac-sec .head h5 {
	font-size: 36px;
}
.customersec .head h3 {
	font-size: 32px;
}
.customersec .right-img {
	height: 160px;
	width: 160px;
}
.our-services .our-box {
	height: 500px;
}
.about-us .rbttn {
	display: flex;
	justify-content: center;
}
.we-sec .mkio strong {
	font-size: 20px;
}
.we-sec .head {
	margin-top: 40px;
}
}
@media screen and (max-width: 575px){

.banner-sec .banner-pic {
	height: 450px;
}
.banner-sec .heading h1 {
	font-size: 32px;
}
.about-us .left .bttm-text {
	right: 0;
	bottom: -44px;
}
.about-us .a-logo {
	margin-top: 30px;
}

.we-sec .left-pic {
	justify-content: center;
}
.we-sec .left-pic {
	justify-content: center;
}
.we-sec .head h3 {
	font-size: 29px;
	margin-top: 10px;
}
.we-sec .klp {
	font-size: 29px;
}
.about-us {
	padding: 80px 0px;
}
.our-services .heading h3 {
	font-size: 29px;
}
.rech .head h3 {
	font-size: 36px;
}
.rech .r-box {
	width: 180px;
	height: 200px;
}
.our-client .head h3 {
	font-size: 29px;
	margin-bottom: 15px;
}
.our-client .container {
	padding-top: 30px;
	padding-bottom: 30px;
}
.contac-sec .head h3 {
	font-size: 29px;
}
.about-us .t-logo img {
	width: 190px;
}
.contac-sec .head h5 {
	font-size: 36px;
}
.our-port .main-box .count {
	font-size: 36px;
}
.customersec .head h3 {
	font-size: 29px;
	margin-bottom: 15px;
}
.customersec .right-img {
	height: 140px;
	width: 140px;
}
.customersec p {
	font-size: 15px;
}
.about-us .right a {
	padding: 10px 15px;
	font-size: 15px;
}
.our-services .sbttn a {
	padding: 10px 15px;
	font-size: 15px;
}
.we-sec .mkio strong {
	font-size: 18px;
}
.we-sec .rwq img {
	width: 40px;
}
.we-sec .rwq {
	margin-right: 10px;
	width: 70px;
	height: 70px;
}
.about-us .right h3 {
	font-size: 36px;
}
.our-services .sr-head strong {
	font-size: 24px;
	margin-bottom: 10px;
}
.inner-banner {
	height: 160px;
}
.customersec {
	padding: 40px 0px;
}
}

@media screen and (max-width: 480px){
.customersec .head h3 {
	font-size: 29px;
}
.customersec p {
	font-size: 15px;
}
.customersec .right-img {
	height: 100px;
	width: 100px;
}
.our-port .main-box .count {
	font-size: 24px;
} 
.our-port .main-box h5 {
	font-size: 26px;
}
 
.about-us .t-logo img {
	width: 170px;
	height: auto;
}
.banner-sec .banner-pic {
	height: 400px;
}
.about-us .left .bttm-text {
	right: 5px;
    bottom: -39px;
}
.about-us .left h3 {
	font-size: 40px;
}
.about-us .left .bttm-text p {
	font-size: 15px;
}
.about-us {
	padding: 65px 0px;
}
.about-us .right h3 {
	font-size: 29px;
	margin-bottom: 10px;
}
.about-us .right {
	margin-top: 10px;
}
.about-us .right p {
	font-size: 15px;
}
.we-sec .left-pic {
	display: flex;
	align-items: center;
	justify-content: center;
    margin-bottom: 20px;
}

.we-sec {
	padding: 40px 0px;
}
.we-sec .head h3 {
	font-size: 29px;
}
.we-sec .text p {
	font-size: 15px;
}
.our-services .heading h3 {
	font-size: 29px;
    margin-bottom: 30px;
}
.rech {
	padding: 40px 0px;
}
.rech .head h3 {
	font-size: 40px;
}
.our-client .head h3 {
	font-size: 29px;
	margin-bottom: 20px;
}
.our-client {
	padding: 0px 0px;
}
.our-port {
	padding: 40px 0px;
}
.our-port .head h3 {
	font-size: 40px;
}
.contac-sec .head h3 {
	font-size: 29px;
}
.contac-sec {
	padding: 50px 0px;
}
.contac-sec .head h5 {
	font-size: 36px;
}
.footer .f-head {
	padding-bottom: 10px;
	margin-top: 30px;
}
.our-services .d-box li {
	font-size: 15px;
}
.about-us .a-logo {
	margin-top: 30px;
}
.rech .r-box {
	width: 160px;
	height: 170px;
}
.rech .r-box{
    position: relative;
    width: 160px;
    height: 170px;
    transform-style: preserve-3d;
    animation: animate 30s linear infinite;
}
.information .head h2 {
	font-size: 40px;
}
.how-work h2 {
	font-size: 40px;
}
.we-sec .rwq img {
	width: 40px;
}
.we-sec .rwq {
	margin-right: 15px;
	width: 60px;
	height: 60px;
}
.we-sec .mkio strong {
	font-size: 15px;
}
.we-sec .klp {
	font-size: 29px;
}
.our-port .top-icon img {
	width: 40px;
}
.our-port .main-box span {
	font-size: 20px;
	margin-bottom: 10px;
}
.our-services {
	margin: 50px 0px;
}
.our-client .container {
	margin-top: 0px;
	border-radius: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.our-services .sr-head strong {
	font-size: 24px;
}
.our-services .srbtn {
	padding: 5px;
	font-size: 12px;
}
.inner-banner h1 {
	font-size: 36px;
}

.our-services .sbttn {
	margin-top: 30px;
}
.footer .f-logo {
	padding: 10px;
}

}